In [ ]:
#Q1
x=int(input())
if x>0:
  print("positive")
elif x<0:
  print("negative")

23
positive

In [ ]:
#Q2
x=int(input())
if x>=18:
  print("Yes, can vote")
else:
  print("Not eligible to vote")

23
Yes, can vote

In [ ]:
#Q3
x=int(input())
y=int(input())
if x>y:
  max=x
else:
  max=y
print("max is :",max)

23
47
max is : 47

In [ ]:
#Q4
x=int(input())
if x%4==0:
  print("leap year")
else:
  print("not a leap year")

2004
leap year

In [ ]:
#Q5
x=input()
if x in ["a","e","i","o","u"]:
  print("vowel")
else:
  print("not a vowel")

a
vowel

In [ ]:
#Q6
x=int(input())
if x%2==0:
  print('even')
else:
  print("odd")

59
odd

In [ ]:
#Q7
x=int(input())
if x>0:
  print("abs val:",x)
elif x<0:
  print("abs val:",-1*x)

-98
abs val: 98

In [ ]:
#Q8
x=int(input())
y=int(input())
z=int(input())
if x>y:
  max=x
  if max>z:
    max=x
  elif max<z:
    max=z
elif x<y:
  max=y
  if z>max:
    max=z
  elif z<max:
    max=y
print("max of all is:",max)

2
5
8
max of all is: 8

In [ ]:
#Q9
x=input()
if x[::]==x[::-1]:
  print("pallindrome")
else:
  print("not a pallindrome")

amishhsima
pallindrome

In [ ]:
#Q10
x=int(input())
if 90<=x<=100:
  print("Ex")
elif 80<=x<=90:
  print("A")
elif 70<=x<80:
  print("B")
elif 60<=x<70:
  print("C")
elif 50<=x<60:
  print("D")
elif 40<=x<50:
  print("P")
else:
  print("F")

45
P

In [ ]:
#Q11
x=int(input())
y=int(input())
z=int(input())
if x>y:
  max=x
  if max>z:
    max=x
  elif max<z:
    max=z
elif x<y:
  max=y
  if z>max:
    max=z
  elif z<max:
    max=y
print("max of all is:",max)

23
78
1
max of all is: 78

In [ ]:
#Q12
x=int(input())
y=int(input())
z=int(input())
if x==y and y==z and z==x:
  print("Equilateral")
elif x==y or y==z or z==x:
  print("isoceles")
else:
  print("scalene")

1
1
3
isoceles

In [ ]:
#Q13
x=int(input())
if x%4==0 and x%400==0:
  print("century leap year")
elif x%4==0:
  print("leap year")

2000
century leap year

In [ ]:
#Q14
x=int(input())
if x>0:
  print("positive")
elif x<0:
  print("negative")
else:
  print("0")

0
0

In [ ]:
#Q15
x=int(input())
if 13<x<19:
  print("teenager")

18
teenager

In [ ]:
#Q16
x=int(input())
if x<90:
  print("Acute")
elif x==90:
  print("Right")
elif x>90:
  print("Obtuse")

92
Obtuse

In [ ]:
#Q17 ---> DOUBT, how to take square root
print("enter the coefficients of x^2,x and constant")
a=int(input())
b=int(input())
c=int(input())
root=

In [ ]:
#Q18
x=int(input())
if x==1:
  print("Monday")
elif x==2:
  print("Tuesday")
elif x==3:
  print("Wednesday")
elif x==4:
  print("Thursday")
elif x==5:
  print("Friday")
elif x==6:
  print("Saturday")
elif x==7:
  print("Sunday")

5
Friday

In [ ]:
#Q19
x=int(input())
if x%4==0 and x%400==0:
  print("century leap year")
elif x%4==0:
  print("leap year")

2400
century leap year

In [ ]:
#Q20
#doubt

In [ ]:
#Q21
x=int(input())
if 90<=x<=100:
  print("Ex")
elif 80<=x<=90:
  print("A")
elif 70<=x<80:
  print("B")
elif 60<=x<70:
  print("C")
elif 50<=x<60:
  print("D")
elif 40<=x<50:
  print("P")
else:
  print("F")

35
F

In [ ]:
#Q22
x=int(input())
y=int(input())
z=int(input())
if x==y and y==z and z==x:
  print("Equilateral")
elif x==y or y==z or z==x:
  print("isoceles")
else:
  print("scalene")

3
4
5
scalene

In [ ]:
#Q23
bmi = float(input())
if 0<=bmi<=18.4:
  print("underweight")
elif 18.5<=bmi<=24.9:
  print("Normal")
elif 25<=bmi<=29.9:
  print("Overweight")
else:
  print("Obese")

18.5
Normal

In [ ]:
#Q24
x=int(input())
if x>0:
  print("positive")
elif x<0:
  print("negative")
elif x==0:
  print("zero")

-9
negative

In [ ]:
#Q25
x=input()
if x.isupper():
  print("capital")
elif x.islower():
  print("lower")
else :
  print("special")

*
special

In [ ]:
 #Q26
 purchase_amount = float(input("Enter the purchase amount: ₹"))

if purchase_amount < 0:
    print("Invalid input. Purchase amount cannot be negative.")
else:
    if purchase_amount < 100:
      discount = 0
    elif purchase_amount < 500:
      discount = 10
    elif purchase_amount < 1000:
      discount = 20
    else:
      discount = 30

discounted_price = purchase_amount * (1 - discount / 100)
print("Discounted price: ₹",discounted_price)

Enter the purchase amount: ₹2000
Discounted price: ₹ 1400.0

In [ ]:
#Q27
consumption = float(input("Enter the electricity consumption in kWh: "))

if consumption < 0:
    print("Invalid input. Consumption cannot be negative.")
else:
    if consumption <= 100:
      rate = 0.10  # Rate for the first 100 kWh
    elif consumption <= 200:
      rate = 0.15  # Rate for the next 100 kWh
    elif consumption <= 300:
      rate = 0.20  # Rate for the next 100 kWh
    else:
      rate = 0.25  # Rate for consumption above 300 kWh

total_bill = consumption * rate
print(f"Electricity bill:",total_bill)

Enter the electricity consumption in kWh: 156
Electricity bill: 23.4

In [ ]:
#Q29
month = int(input("Enter the month (1-12): "))

if 1 <= month <= 12:
    if month in [12, 1, 2]:
      season = "Winter"
    elif month in [3, 4, 5]:
      season = "Spring"
    elif month in [6, 7, 8]:
      season = "Summer"
    else:
      season = "Autumn (Fall)"
    print("The season for month",month,"is",season)
else:
    print("Invalid input. Please enter a valid month (1-12).")

Enter the month (1-12): 23
Invalid input. Please enter a valid month (1-12).

In [ ]:
#Q30
year=int(input("enter year:"))
month=int(input("enter month from (1-12):"))
if month in [1,3,5,7,8,10,12]:
  if year%4==0:
    print("31 days and leap year")
  else:
    print("31 days and common year")
elif month in [2,4,6,9,11]:
  if year%4==0:
    print("30 days and leap year")
  else:
    print("30 days and common year")

enter year:2004
enter month from (1-12):11
30 days and leap year

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#BASIC, INTERMEDIATE, ADVANCED, CHALLENGE LEVEL QUESTIONS

In [ ]:
#Q1
x=int(input())
if x>0:
  print("positive")
elif x<0:
  print("negative")
elif x==0:
  print("zero")

-74
negative

In [ ]:
#Q2
x=int(input())
if x>=18:
  print("Yes, can vote")
else:
  print("Not eligible to vote")

89
Yes, can vote

In [ ]:
#Q3
x=int(input())
y=int(input())
if x>y:
  max=x
else:
  max=y
print("max is :",max)

4
9
max is : 9

In [ ]:
#Q4
x=int(input())
if 90<=x<=100:
  print("Ex")
elif 80<=x<=90:
  print("A")
elif 70<=x<80:
  print("B")
elif 60<=x<70:
  print("C")
elif 50<=x<60:
  print("D")
elif 40<=x<50:
  print("P")
else:
  print("F")

87
A

In [ ]:
#Q5
x=int(input())
if x%4==0:
  print("leap year")
else:
  print("not a leap year")

2022
not a leap year

In [ ]:
#Q6
x=int(input())
y=int(input())
z=int(input())
if x==y and y==z and z==x:
  print("Equilateral")
elif x==y or y==z or z==x:
  print("isoceles")
else:
  print("scalene")

12
13
5
scalene

In [ ]:
#Q7
x=int(input())
y=int(input())
z=int(input())
if x>y:
  max=x
  if max>z:
    max=x
  elif max<z:
    max=z
elif x<y:
  max=y
  if z>max:
    max=z
  elif z<max:
    max=y
print("max of all is:",max)

4
8
15
max of all is: 15

In [ ]:
#Q8
x=input()
if x in ["a","e","i","o","u"]:
  print("vowel")
else:
  print("not a vowel")

d
not a vowel

In [ ]:
#Q9--> data insuffecient

In [ ]:
#Q10
x=int(input())
if x%2==0:
  print('even')
else:
  print("odd")

75
odd

In [ ]:
#Q11
import math
a=float(input())
b=float(input())
c=float(input())
disc=b**2-(4*a*c)
if disc>0:
  r1=(-b+(math.sqrt(disc)))/(2*a)
  r2=(-b-(math.sqrt(disc)))/(2*a)
  print(r1,",",r2)
elif disc==0:
  r1=(-b)/2*a
  r2=(-b)/2*a
  print(r1,",",r2)
elif disc<0:
  real=(-b)/2*a
  im1=(math.sqrt(abs(disc)))/(2*a)
  im2=-(math.sqrt(abs(disc)))/(2*a)
  r1=complex(real,im1)
  r2=complex(real,im2)
  print(r1,",",r2)

1
-3
5
(1.5+1.6583123951777j) , (1.5-1.6583123951777j)

In [ ]:
#Q12
x=int(input())
if x==1:
  print("Monday")
elif x==2:
  print("Tuesday")
elif x==3:
  print("Wednesday")
elif x==4:
  print("Thursday")
elif x==5:
  print("Friday")
elif x==6:
  print("Saturday")
elif x==7:
  print("Sunday")
else:
  print("invalid")

6
Saturday

In [ ]:
#Q13
def fact(n):
  if n==0 or n==1:
    return 1
  else:
    return(n*fact(n-1))
fact(5)

120

In [ ]:
#Q14
x=int(input())
y=int(input())
z=int(input())
if x>y:
  max=x
  if max>z:
    max=x
  elif max<z:
    max=z
elif x<y:
  max=y
  if z>max:
    max=z
  elif z<max:
    max=y
print("max of all is:",max)

78
12
54
max of all is: 78

In [ ]:
#Q16
s=input()
if s[::]==s[::-1]:
  print("pallindrome")
else:
  print("not a pallindrome")

malayalam
pallindrome

In [ ]:
#Q17
lst=[]
n=int(input("number of elements:"))
for i in range(0,n):
  x=int(input())
  lst.append(x)
max=0
mini=lst[0]
for i in lst:
  if i>max:
    max=i
  else:
    max=max
for j in lst:
  if j<=mini:
    mini=j
  else:
    mini=mini
sum=0
for i in lst:
  sum=sum+i
avg=(sum-mini-max)/n
print("average of numbers, excluding the smallest and largest value is:",avg)

number of elements:5
1
2
3
4
5
average of numbers, excluding the smallest and largest value is: 1.8

In [ ]:
#Q18
c=float(input())
f=(1.8*c)+32
print("temperature in fahrenheit=",f)

23
temperature in fahrenheit= 73.4

In [ ]:
#Q19
print("Enter 'add' for addition")
print("Enter 'subtract' for subtraction")
print("Enter 'multiply' for multiplication")
print("Enter 'divide' for division")

user_input = input(": ")

if user_input in ("add", "subtract", "multiply", "divide"):
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))

    if user_input == "add":
        result = num1 + num2
    elif user_input == "subtract":
        result = num1 - num2
    elif user_input == "multiply":
        result = num1 * num2
    elif user_input == "divide":
        if num2 == 0:
            result = "Division by zero is not allowed."
        else:
            result = num1 / num2
    print("Result:", result)
else:
    print("Invalid input")

Enter 'add' for addition
Enter 'subtract' for subtraction
Enter 'multiply' for multiplication
Enter 'divide' for division
: multiply
Enter the first number: 4
Enter the second number: 52
Result: 208.0

In [ ]:
#Q20
#DOUBT

In [ ]:
#Q21
tax_brackets = [(0, 10000), (10001, 50000), (50001, 100000), (100001, float("inf"))]
tax_rates = [0, 0.1, 0.2, 0.3]

income=float(input())
if tax_brackets[0][0]<=income<=tax_brackets[0][1]:
  print("No tax")
elif tax_brackets[1][0]<=income<=tax_brackets[1][1]:
  print("tax value=",0.1*income)
elif tax_brackets[2][0]<=income<=tax_brackets[2][1]:
  print("tax value=",0.2*income)
elif tax_brackets[3][0]<=income<=tax_brackets[3][1]:
  print("tax value=",0.3*income)

52014
tax value= 10402.800000000001

In [ ]:
#Q22
import random
x=input()
pos=["rock","paper","scissor"]
rand = random.choice(pos)
print("computer o/p=",rand)
if x==rand:
  print("Draw !")
elif (x=="rock" and rand=="scissor") or (x=='paper' and rand=='rock') or (x=='scissor' and rand=='paper'):
  print("You Won !")
elif (rand=='rock' and x=='scissor') or (rand=='paper' and x=='rock') or (rand=='scissor' and x=='paper'):
  print("Computer Won !")

rock
computer o/p= scissor
You Won !

In [ ]:
#Q23
#DOUBT

In [ ]:
#Q24
print("Welcome to The Haunted Mansion")
print("You find yourself standing in front of a dark, ominous mansion. It's rumored to be haunted, but there are rumors of hidden treasures inside.")
print("What do you do?")
print("1. Enter the Mansion")
print("2. Turn and run away")
x=int(input())
if x==2:
  print("LOSER. HA HA !!!")
elif x==1:
  print("You enter the mansion, and you find yourself in a dusty, cobweb-filled foyer.")
  print("Two doors lead to different parts of the mansion.")
  print("1. Go through the left door written COME IN on it")
  print("2. Go through the right door written DEATH on it")
  print("3. Turn back and leave.")
  x=int(input())
  if x==3:
    print("LOSER. HA HA !!!")
  elif x==1:
    print("You see a hanging body from the ceiling and an old man with chainsaw which run to kill you")
    print("You Died")
    print("GAME LOST")
  elif x==2:
    print("You enter a dimly lit library filled with old, dusty books. One book on the shelf with light falling only on it catches your eye.")
    print("1. Read the book.")
    print("2. Leave the library.")
    x=int(input())
    if x==2:
      print("LOSER. HA HA !!!")
    elif x==1:
      print("You discover a secret message that hints at the location of the mansion's treasure.")
      print("You follow the hint from the book and find a hidden passage behind a bookshelf. It leads to a small room with a chest.")
      print("MIND, YOU ARE IN A HAUNTED MANSION AND ALL CHESTS ARE NOT MEANT TO BE OPENED :|")
      print("1. Open the chest")
      print("2. Leave the room")
      x=int(input())
      if x==2:
        print("LOSER. HA HA !!!")
      elif x==1:
        print("Congratulations! You've found the hidden treasure. You win the game!")
print("Thanks for playing")

Welcome to The Haunted Mansion
You find yourself standing in front of a dark, ominous mansion. It's rumored to be haunted, but there are rumors of hidden treasures inside.
What do you do?
1. Enter the Mansion
2. Turn and run away
1
You enter the mansion, and you find yourself in a dusty, cobweb-filled foyer.
Two doors lead to different parts of the mansion.
1. Go through the left door written COME IN on it
2. Go through the right door written DEATH on it
3. Turn back and leave.
2
You enter a dimly lit library filled with old, dusty books. One book on the shelf with light falling only on it catches your eye.
1. Read the book.
2. Leave the library.
1
You discover a secret message that hints at the location of the mansion's treasure.
You follow the hint from the book and find a hidden passage behind a bookshelf. It leads to a small room with a chest.
MIND, YOU ARE IN A HAUNTED MANSION AND ALL CHESTS ARE NOT MEANT TO BE OPENED :|
1. Open the chest
2. Leave the room
1
Congratulations! You've found the hidden treasure. You win the game!
Thanks for playing

In [ ]:
#Q25
print("Enter the coefficients a and b for equation of form ax+b=0")
a=float(input("a="))
b=float(input("b="))
print("x=",((-b)/a))

Enter the coefficients a and b for equation of form ax+b=0
a=5
b=3
x= -0.6

In [ ]:
#Q26
score=0
print("welcome to the quiz!")
print("Q1.Which is the highest waterfall in India?")
print("a) Dudhsagar Falls")
print("b) Jog Falls")
print("c) Palaruvi Falls")
print("d) Meenmutty Falls")
x=input("enter one out of a/b/c/d:")
if x=="a" or x=="c" or x=="d":
  print("wrong answer")
else:
  print("correct answer")
  score=score+1
  print("score=",score)

welcome to the quiz!
Q1.Which is the highest waterfall in India?
a) Dudhsagar Falls
b) Jog Falls
c) Palaruvi Falls
d) Meenmutty Falls
enter one out of a/b/c/d:b
correct answer
score= 1

In [ ]:
#Q27
x=int(input())
isprime=1
for i in range(2,x):
  if x%i==0:
    isprime=0
if isprime==0:
  print("not prime")
else:
  print("prime")

2011
prime

In [ ]:
#Q28
x=int(input())
y=int(input())
z=int(input())
if x>y and x>z:
  max1=x
  if y>z:
    max2=y
    max3=z
  elif y<z:
    max2=z
    max3=y
if y>x and y>z:
  max1=y
  if x>z:
    max2=x
    max3=z
  elif x<z:
    max2=z
    max3=x
if z>x and z>y:
  max1=z
  if x>y:
    max2=x
    max3=y
  elif x<y:
    max2=y
    max3=x
print(max3,"<",max2,"<",max1)

2
3
4
2 < 3 < 4

In [ ]:
#Q29
#DOUBT

In [ ]:
#Q30
bmi = float(input())
if 0<=bmi<=18.4:
  print("underweight")
  print("Eat food")
elif 18.5<=bmi<=24.9:
  print("Normal")
  print("continue as it is")
elif 25<=bmi<=29.9:
  print("Overweight")
  print("eat less")
else:
  print("Obese")
  print("eat less and consult a doctor")

54
Obese
eat less and consult a doctor

In [ ]:
#Q31
p=input()
countU=0
countL=0
countN=0
if len(p)<8:
  print("INVALID. LENGTH<8")
for char in p:
  if char.isupper():
    countU=countU+1
if countU==0:
  print("INVALID. ATLEAST 1 UPPER CASE LETTER REQUIRED")
for char in p:
  if char.islower():
    countL=countL+1
if countL==0:
  print("INVALID. ATLEAST 1 LOWER CASE LETTER REQUIREDT")
for char in p:
  if char in ["1","2","3","4","5","6","7","8","9"]:
    countN=countN+1
if countN==0:
  print("INVALID. ATLEAST 1 NUMERIC REQUIRED")

pass
INVALID. LENGTH<8
INVALID. ATLEAST 1 UPPER CASE LETTER REQUIRED
INVALID. ATLEAST 1 NUMERIC REQUIRED

In [ ]:
#Q32
A=[[0,0,0],[0,0,0],[0,0,0]]
B=[[0,0,0],[0,0,0],[0,0,0]]
C=[[0,0,0],[0,0,0],[0,0,0]]
D=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
  for j in range(3):
    A[i][j]=int(input("Enter the element:"))
print("Matrix A=",A)
for i in range(3):
  for j in range(3):
    B[i][j]=int(input("Enter the element:"))
print("Matrix B=",B)
for i in range(3):
  for j in range(3):
    C[i][j]=A[i][j]+B[i][j]
print("sum matrix(A+B)=",C)
for i in range(3):
  for j in range(3):
    D[i][j]=A[i][j]-B[i][j]
print("difference matrix(A-B)=",D)

Enter the element:1
Enter the element:2
Enter the element:3
Enter the element:4
Enter the element:5
Enter the element:6
Enter the element:7
Enter the element:8
Enter the element:9
Matrix A= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Enter the element:10
Enter the element:11
Enter the element:12
Enter the element:13
Enter the element:14
Enter the element:15
Enter the element:16
Enter the element:17
Enter the element:18
Matrix B= [[10, 11, 12], [13, 14, 15], [16, 17, 18]]
sum matrix(A+B)= [[11, 13, 15], [17, 19, 21], [23, 25, 27]]
difference matrix(A-B)= [[-9, -9, -9], [-9, -9, -9], [-9, -9, -9]]

In [ ]:
#Q33
x=int(input())
y=int(input())
if x>y:
  for i in range(y,1,-1):
    if x%i==0 and y%i==0:
      print("GCD is:" ,i)
      break
elif x<y:
  for i in range(x,1,-1):
    if x%i==0 and y%i==0:
      print("GCD is:" ,i)
      break

4
12
GCD is: 4

In [3]:
#Q34
A=[[0,0,0],[0,0,0],[0,0,0]]
B=[[0,0,0],[0,0,0],[0,0,0]]
C=[[0,0,0],[0,0,0],[0,0,0]]
sum=0
for i in range(3):
  for j in range(3):
    A[i][j]=int(input("Enter the element:"))
print("Matrix A=",A)
for i in range(3):
  for j in range(3):
    B[i][j]=int(input("Enter the element:"))
print("Matrix B=",B)
for i in range(3):
  for j in range(3):
    for k in range(3):
      C[i][j]=C[i][j]+(A[i][k]*B[k][j])
print(C)

Enter the element:2
Enter the element:0
Enter the element:0
Enter the element:0
Enter the element:2
Enter the element:0
Enter the element:0
Enter the element:0
Enter the element:2
Matrix A= [[2, 0, 0], [0, 2, 0], [0, 0, 2]]
Enter the element:3
Enter the element:0
Enter the element:0
Enter the element:0
Enter the element:3
Enter the element:0
Enter the element:0
Enter the element:0
Enter the element:3
Matrix B= [[3, 0, 0], [0, 3, 0], [0, 0, 3]]
[[6, 0, 0], [0, 6, 0], [0, 0, 6]]

In [ ]:
#Q35---->DOUBT
A=[[2,2,2],[2,2,2],[2,2,2]]
print('Enter position of entering cross:')
i=int(input("i="))
j=int(input("j="))
A[i][j]=1
if (i==1 and j==1) or (i==1 and j==3) or (i==3 and j==1) or (i==3 and j==3):
  if (i==1 and j==1):
    A[3][3]=0
  if (i==1 and j==3):
    A[3][1]=0
  if (i==3 and j==1):
    A[1][3]=0
  if (i==3 and j==3):
    A[1][1]=0
  print('Enter position of entering cross:')
  i=int(input("i="))
  j=int(input("j="))

In [25]:
#Q36
n=int(input("Number of terms required:"))
a=1
b=1
print("Fibonaaci series:")
print(a)
print(b)
for i in range(2,n):
  sum=a+b
  print(sum)
  a=b
  b=sum

Number of terms required:10
Fibonaaci series:
1
1
2
3
5
8
13
21
34
55

In [23]:
#Q37--->DOUBT
n=int(input("Value of n for the term:"))
a=1
b=1
for i in range(2,n):
  sum=a+b
  a=b
  b=sum
  if i==n-1:
    print(b)
    break

Value of n for the term:10
55

In [30]:
#Q38
y=int(input("year:"))
m=int(input("month(1-12)"))
if y%4!=0:
  print("not leap year")
  if m==1 or m==3 or m==5 or m==7 or m==8 or m==10 or m==12:
    for i in range(31):
      print(i+1)
  elif m==4 or m==6 or m==9 or m==11:
    for i in range(30):
      print(i+1)
  elif m==2:
    for i in range(28):
      print(i+1)
else:
  print("leap year")
  if m==1 or m==3 or m==5 or m==7 or m==8 or m==10 or m==12:
    for i in range(31):
      print(i+1)
  elif m==4 or m==6 or m==9 or m==11:
    for i in range(30):
      print(i+1)
  elif m==2:
    for i in range(29):
      print(i+1)

year:2020
month(1-12)2
leap year
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [31]:
#Q39--> DOUBT

In [36]:
#Q40
n=int(input())
isprime=1
for i in range(2,n):
  if n%(i)==0:
    isprime=0
    break
if isprime==0:
  print("not prime")
else:
  print("prime")

2011
prime