<a href="https://colab.research.google.com/github/AmishBhatnagar007/Assignments/blob/main/Recurssion_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1:Tower of Hanoi
def toh(n,start,aux,end):
  m=0
  if n==0:
    return
  else:
    toh(n-1,start,end,aux)
    print("move",n,"th disk from",start,"to",end)
    m=m+1
    toh(n-1,aux,start,end)

In [ ]:
toh(4,"A","B","C")

move 1 th disk from A to B
move 2 th disk from A to C
move 1 th disk from B to C
move 3 th disk from A to B
move 1 th disk from C to A
move 2 th disk from C to B
move 1 th disk from A to B
move 4 th disk from A to C
move 1 th disk from B to C
move 2 th disk from B to A
move 1 th disk from C to A
move 3 th disk from B to C
move 1 th disk from A to B
move 2 th disk from A to C
move 1 th disk from B to C

In [ ]:
#Q2: DOUBT
a=[1,2,3,4,5]
z=a.pop()
a
a.reverse()
a

[4, 3, 2, 1]

In [ ]:
#Q3:
def max(arr):
  #base case
  if len(arr)==1:
    return arr[0]
  #rec code
  else:
    max_val=max(arr[1:])
    if max_val>arr[0]:
      return max_val
    else:
      return arr[0]

In [ ]:
max([ 13, 1, -3, 22, 5])

22

In [ ]:
#Q4
def sum(arr):
  total=arr[0]
  if len(arr)==1:
    return total
  else:
    return total+sum(arr[1:])

In [ ]:
sum([92, 23, 15, -20, 10])

120

In [ ]:
#Q5
def armst_no(n,digits):
  if n<=9:
    return n**digits
  else:
    z=n%10
    return z**digits+armst_no(n//10,digits)

num=153
digits=3
if armst_no(num,digits)==num:
  print("Yes")
else:
  print("No")

Yes